@import "../fonts/raleway/stylesheet.css";
@import "../css/обнуление.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    color: #414141;
}
body {
    font-family: 'Raleway';
    background-color: #E5E5E5;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
}

.header {
    min-height: 483px;
    background:url("../images/contacts/contact3.png"), 
    url("../images/contacts/contact2.png"), 
    url("../images/contacts/contact.png"), radial-gradient(30.68% 68.95% at 70.09% -6.85%, rgba(242, 192, 93, 0.33) 0%, rgba(242, 192, 93, 0) 100%),
     radial-gradient(43.5% 57.97% at -0.94% 116.25%, rgba(242, 192, 93, 0.33) 0%, rgba(242, 192, 93, 0) 100%) 
    , #214E49;
    background-repeat: no-repeat;
    background-position: 40% 0%, 0% -1040%, 100% -70%;
    box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.1);
    position: relative;
}
.dot__header1 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 1280px;
    top: 90px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.2;
}
.dot__header2 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 476px;
    top: 142px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.2;
}
.dot__header3 {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 100px;
    top: 225px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.dot__header4 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1020px;
    top: 265px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.8;
}
.dot__header5 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 625px;
    top: 398px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.2;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    padding: 34px 0px 46px 0px;
}
.header__first{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__second{
    display: flex;
    align-items: center;
}
.menu {
    margin: 0 0 0 75px;
    transition: transform 0.6s ease-in-out;
}

.menu a{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.menu li{
    position: relative;
}
.menu__list {
    display: flex;
}
.menu__list > li{
    margin: 0 0 0 40px;
}
@media (max-width: 1030px){
    .menu {
        margin: 0 0 0 45px;
    }
    .menu__list > li{
        margin: 0 0 0 30px;
    }
}
@media (max-width: 902px){
    .menu {
        margin: 0 0 0 15px;
    }
    .menu__list > li{
        margin: 0 0 0 10px;
    }
    @media (max-width: 851px){
        .menu {
            margin: 0 0 0 5px;
        }
        .menu__list > li{
            margin: 0 0 0 5px;
        }
    }
}
.menu__link {
}
.sub-menu__list {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    padding: 20px 0 0 0;
    min-width: 250px;
    transition: transform 0.6s ease-in-out;
}
.sub-menu__list > li{
    background-color: rgb(33, 78, 73, 0.2);
}
.sub-menu__link {
    display: inline-block;
    padding: 5px 0 5px 0;
}
.sub-sub-menu__list {
    display: none;
    min-width: 250px;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgb(33, 78, 73, 0.2);
    padding: 0 0 0 5px;
    transition: transform 0.6s ease-in-out;
}
.sub-sub-menu__link {
    display: inline-block;
    padding: 5px 0 5px 0;
}
.menu__arrow {
    transition: transform 0.6s ease-in-out;
}
.arrow {
    margin-left: 10px;
    content: url("../images/reviews/galka.png");
    transition: transform 0.6s ease-in-out;
}
body.mouse .menu__list > li:hover .sub-menu__list{
    display: block;
    transition: transform 0.6s ease-in-out;
}
body.mouse .sub-menu__list > li:hover .sub-sub-menu__list{
    display: block;
    transition: transform 0.6s ease-in-out;
}
body.touch .sub-menu__list.open{
    display: block;
    transition: transform 0.6s ease-in-out;
}
body.touch .sub-sub-menu__list.open{
    display: block;
    transition: transform 0.6s ease-in-out;
}

.arrow.active{
    transform: rotate(180deg);
    transition: transform 0.6s ease-in-out;
}
.sub-menu__arrow{
    transform: rotate(270deg);
    transition: transform 0.6s ease-in-out;
}
.sub-menu__arrow.active{
    transform: rotate(90deg);
    transition: transform 0.6s ease-in-out;
}
/*------------------бургер-----------------*/
.burger{
    width: 20px;
    height: 20px;
    display: none;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    position: relative; 
    transform: rotate(180deg);
    transition: transform 0.6s ease-in-out;
}
.burger__line{
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    height: 2px;
    background-color: #ffffff;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
}
.burger::before, 
.burger::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out;
}
.burger::before{
    top: 0;
}
.burger::after{
    bottom: 0;
}
.burger--active .burger__line{
    opacity: 0;
    transition: transform 0.6s ease-in-out;
}
.burger--active::before{
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.6s ease-in-out;
}
.burger--active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.6s ease-in-out;
}

.icon__header{
    border-radius: 10px;
    min-width: 20px;
    height: 20px;
    background-color: rgb(79, 113, 96, 0.3);
}
.icon__header:not(:first-child){
    margin-left: 5px;
}
.header__phone {
    min-width: 154px;
    margin-left: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #ffffff;
}
.header__invisible{
    display: none;
}
.header__invisible a{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #ffffff;
}

.navigation-sub-sub-menu__list{
     display: none;
     background-color: #3c6460;
     padding: 40px 15px 15px 15px
}
.h3-sub-sub-menu__list {
    margin: 20px 0 0 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}
.btn-sub-sub-menu__list {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #ACACAC;
    background-color: #3c6460;
}
.btn-sub-sub-menu__list::before {
    content: url("../images/contacts/prew.png");
    margin: 0 10px 0 0;
}


/*-----------------------------------------------------Хлебные крошки----------------------------------------*/
.breadcrumb__servicepage {
    list-style: none;
    display: flex;
    text-decoration: none;
}
.breadcrumb-item__servicepage {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ACACAC;
}
.breadcrumb-item__servicepage a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ACACAC;
}
.active__breadcrumb {
}

.breadcrumb__servicepage > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
  }
/*--------------------------------------------------------контакты------------------------------------------*/

.header-contact {
    padding: 30px 0 0 0;
}
.main__contact {
    margin-top: 25px;
    display: flex;
    align-items: flex-start;
}
.h2__contact {
    color: #FFFFFF;
}
.data__contact {
    margin-left: 500px;
}
@media (max-width: 1030px){
    .data__contact {
        margin-left: 400px;
    }
}
.contact__phone {
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
.contact__mail {
    margin-top: 23px;
    font-weight: 600;
    font-size: 30px;
    line-height: 61px;
    color: #FFFFFF;
}
.addres__contact {
    margin-top: 10px;
    font-weight: 600;
    font-size: 30px;
    line-height: 61px;
    color: #FFFFFF;
}
.time__contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: rgb(181, 180, 180, 0.8);
}


/*--------------------------------------------------------Footer------------------------------------------*/
.footer {
    
    background-color: #F3F3F3;
}
.footer-container {
    padding: 170px 0 90px 0;
}
.footer__header {}
.form__footer {
    display: flex;
    justify-content: space-between;
}
.form__footer fieldset{
}
.form__footer legend {
    max-width: 620px;
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
}
.form__input {
    width: 488px;
}
.form__input:not(:first-child) {
    margin-top: 20px;
}
.form__input input{
    outline: none;
    padding: 20px 30px;
    width: 100%;
    border: 1px solid #8DC8C1;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #ACACAC;
    background-color: #F3F3F3;
}
.btn__form{
    margin-top: 14px;
    margin-left: -14px;
    padding: 14px;
    background-color: #F3F3F3;
    max-width: 209px;
    border-radius: 110px;
}
.form__btn {
    position: relative;
    padding: 49px 0 87px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    width: 180px;
    height: 180px;
    background-color: #E8B236;
    border-radius: 90px;
    transition: 0.3s;
}
.form__btn::after{
    content: url("../images/main/arrow.png");
    position: absolute;
    top: 113px;
    left: 81px;
}
.form__btn:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 0.3s;
    border: 1px solid #8DC8C1;
}
.form__btn:hover::after{
    content: url("../images/main/arrow2.png");
    transition: 0.3s;
}

.agreement{
    margin-top: 20px;
    position: relative;
    display: flex;
}
.agreement-checkbox {
    border: 1px solid #8DC8C1;
    border-radius: 50px;
    opacity: 0;
    outline: none;
}
.agreement-checkbox + .agreement-title::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #8DC8C1;
    left: 0;
    top: calc(50% - 20px);
    border-radius: 50px;
  }
.agreement-checkbox:checked + .agreement-title::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #E8B236;
    border-radius: 50px;
    left: 6px;
    top: calc(50% - 14px);
  }
.agreement-title {
    margin-left: 15px;
    max-width: 453px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #5B5B5B;
}

.footer__bottom {
    margin-top: -40px;
    padding: 40px 0 0 0 ;
    border-top: 1px solid #8DC8C1;
}
.first-footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.second-footer__bottom p {
    max-width: 280px;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: rgb(91, 91, 91, 0.8);
}
.second-footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: -104px;
}
.nav__footer {}
.nav__list-footer {}
.nav__item-footer:not(:first-child) {
    margin-top: 10px;
}
.nav__link-footer {
    font-weight: 600;
    font-size: 16px;
    line-height: 33px;
    color: #414141;
}
.phone__footer{
    display: flex;
    align-items: center;
}
.icon__footer {
    border-radius: 12px;
    width: 25px;
    height: 25px;
    background: rgb(141, 200, 192, 0.3);

}
.icon__footer:nth-child(2) {
    margin: 0 15px 0 5px;
}
.footer__phone {
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #414141;
}
.order__call{
    margin-top: 12px;
    display: block;
    padding: 13px 78.5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    background-color: #F3F3F3;
    border: 1px solid #8DC8C1;
    border-radius: 50px;
    color: #414141;
    transition: 00.3s;
}
.order__call:hover{
    background-color: #E8B236;
    color: #ffffff;
    transition: 00.3s;
}
.mail__footer {
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    color: #414141;
}
.adres__footer {
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #414141;
}
.time {
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgb(91, 91, 91, 0.8);
}