@import "../fonts/raleway/stylesheet.css";
@import "../css/обнуление.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
    color: #414141;
}
body {
    font-family: 'Raleway';
    background-color: #E5E5E5;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
}

.header {
    min-height: 980px;
    background:url("../images/page_services/page1.png"), 
    url("../images/page_services/image2.png"), 
    url("../images/page_services/image1.png"), radial-gradient(60.28% 143.69% at -12.97% 110.36%, rgba(242, 192, 93, 0.33) 0%, rgba(242, 192, 93, 0) 100%) 
    , #214E49;;
    background-repeat: no-repeat;
    background-position: 50% 100%, 0% 100%, 100% 40%;
    box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.1);
    position: relative;
}
.dot__header1 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 1280px;
    top: 90px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.2;
}
.dot__header2 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 476px;
    top: 142px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.2;
}
.dot__header3 {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 100px;
    top: 225px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.dot__header4 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1020px;
    top: 265px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.8;
}
.dot__header5 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 625px;
    top: 398px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.2;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    padding: 34px 0px 46px 0px;
}
.header__first{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__second{
    display: flex;
    align-items: center;
}
.menu {
    margin: 0 0 0 75px;
    transition: transform 0.6s ease-in-out;
}

.menu a{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}
.menu li{
    position: relative;
}
.menu__list {
    display: flex;
}
.menu__list > li{
    margin: 0 0 0 40px;
}
@media (max-width: 1030px){
    .menu {
        margin: 0 0 0 45px;
    }
    .menu__list > li{
        margin: 0 0 0 30px;
    }
}
@media (max-width: 902px){
    .menu {
        margin: 0 0 0 15px;
    }
    .menu__list > li{
        margin: 0 0 0 10px;
    }
    @media (max-width: 851px){
        .menu {
            margin: 0 0 0 5px;
        }
        .menu__list > li{
            margin: 0 0 0 5px;
        }
    }
}
.menu__link {
}
.sub-menu__list {
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    padding: 20px 0 0 0;
    min-width: 250px;
    transition: transform 0.6s ease-in-out;
}
.sub-menu__list > li{
    background-color: rgb(33, 78, 73);
}
.sub-menu__link {
    display: inline-block;
    padding: 5px 0 5px 0;
}
.sub-sub-menu__list {
    display: none;
    min-width: 250px;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #214E49;
    padding: 0 0 0 5px;
    transition: transform 0.6s ease-in-out;
}
.sub-sub-menu__link {
    display: inline-block;
    padding: 5px 0 5px 0;
}
.menu__arrow {
    transition: transform 0.6s ease-in-out;
}
.arrow {
    margin-left: 10px;
    content: url("../images/reviews/galka.png");
    transition: transform 0.6s ease-in-out;
}
body.mouse .menu__list > li:hover .sub-menu__list{
    display: block;
    transition: transform 0.6s ease-in-out;
}
body.mouse .sub-menu__list > li:hover .sub-sub-menu__list{
    display: block;
    transition: transform 0.6s ease-in-out;
}
body.touch .sub-menu__list.open{
    display: block;
    transition: transform 0.6s ease-in-out;
}
body.touch .sub-sub-menu__list.open{
    display: block;
    transition: transform 0.6s ease-in-out;
}

.arrow.active{
    transform: rotate(180deg);
    transition: transform 0.6s ease-in-out;
}
.sub-menu__arrow{
    transform: rotate(270deg);
    transition: transform 0.6s ease-in-out;
}
.sub-menu__arrow.active{
    transform: rotate(90deg);
    transition: transform 0.6s ease-in-out;
}
/*------------------бургер-----------------*/
.burger{
    width: 20px;
    height: 20px;
    display: none;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    position: relative; 
    transform: rotate(180deg);
    transition: transform 0.6s ease-in-out;
}
.burger__line{
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    height: 2px;
    background-color: #ffffff;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
}
.burger::before, 
.burger::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out;
}
.burger::before{
    top: 0;
}
.burger::after{
    bottom: 0;
}
.burger--active .burger__line{
    opacity: 0;
    transition: transform 0.6s ease-in-out;
}
.burger--active::before{
    top: 50%;
    transform: rotate(45deg);
    transition: transform 0.6s ease-in-out;
}
.burger--active::after {
    top: 50%;
    transform: rotate(-45deg);
    transition: transform 0.6s ease-in-out;
}

.icon__header{
    border-radius: 10px;
    min-width: 20px;
    height: 20px;
    background-color: rgb(79, 113, 96, 0.3);
}
.icon__header:not(:first-child){
    margin-left: 5px;
}
.header__phone {
    min-width: 154px;
    margin-left: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #ffffff;
}
.header__invisible{
    display: none;
}
.header__invisible a{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #ffffff;
}

.navigation-sub-sub-menu__list{
    display: none;
    background-color: #3c6460;
    padding: 40px 15px 15px 15px
}
.h3-sub-sub-menu__list {
   margin: 20px 0 0 0;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   color: #ffffff;
}
.btn-sub-sub-menu__list {
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   color: #ACACAC;
   background-color: #3c6460;
}
.btn-sub-sub-menu__list::before {
   content: url("../images/contacts/prew.png");
   margin: 0 10px 0 0;
}

/*--------------------------------------------------------Каменные работы по укладке природного камня------------------------------------------*/


.breadcrumb__servicepage {
    list-style: none;
    display: flex;
    text-decoration: none;
}
.breadcrumb-item__servicepage {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ACACAC;
}
.breadcrumb-item__servicepage a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ACACAC;
}
.active__breadcrumb {
}
.breadcrumb__servicepage > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
  }


.header-services {
    padding: 30px 0 0 0;
    position: relative;
}
.main__services {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.h1__services {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    max-width: 590px;
}
.descr__services {
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    max-width: 487px;
    color: #B5B4B4;
    }

.btn__start {
        position: absolute;
        left: 740px;
        top: 210px;
        padding: 14px;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(40px);
        max-width: 209px;
        border-radius: 110px;
}

.start__btn {
        text-decoration: none;
        display: block;
        position: relative;
        padding: 49px 0 87px 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        color: #414141;
        width: 180px;
        height: 180px;
        background-color: #FFFFFF;
        border-radius: 100px;
        transition: 0.3s;
}
.start__btn:hover {
        background-color: #E8B236;
        color: #FFFFFF;
        transition: 0.3s;
}
.start__btn:hover::after{
    content: url("../images/main/arrow.png");
    transition: 0.3s;
}
.start__btn::after{
        content: url("../images/main/arrow2.png");
        position: absolute;
        top: 113px;
        left: 81px;
}

/*--------------------------------------------------------Статья------------------------------------------*/


.article {
    background-color: #ffffff;
}
.article-container {
    padding: 90px 0 160px 0;
}
.top__article {
    max-width: 794px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #414141;
    margin: 0px auto 40px;
}
.main__article {
    margin: 0 auto 20px;
    max-width: 794px;
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: #5B5B5B;
}
.h3__arcticle {
    margin: 80px 0 30px 215px;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    color: #414141;
}
.img__article {
    display: block;
    margin: 40px auto 0;
}
.content__article{
    max-width: 794px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 60px;
    gap: 20px;
}
.content__article .img__article:not(:last-child){
    width: 387px;
}
.content__article .img__article{
    margin: 0 0 0 0;

}
/*--------------------------------------------------------слайдер------------------------------------------*/
.slider-services {
    background: radial-gradient(60.28% 143.69% at -12.97% 110.36%, rgba(242, 192, 93, 0.33) 0%, rgba(242, 192, 93, 0) 100%) , 
    #214E49;
}
.slider-services-container {
    padding: 0 0 100px 0;
}
.swiper-container2 {
    margin-top: -100px;
    padding: 0 200px 130px 200px;
    overflow: hidden;
    position: relative;
}
.swiper-container2  .swiper-wrapper-control {
    margin-top: 60px;
    display: flex;
    align-items: center !important;
    position: absolute;
}
.btn__services {
    min-width: 245px;
    display: block;
    max-width: 245px;
    padding: 20px 30px;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #8DC8C1;
    border-radius: 50px;
    color: #414141;
    transition: 00.3s;
}
.btn__services:hover {
    background-color: #E8B236;
    color: #ffffff;
    transition: 00.3s;
}

.swiper-button-prev:hover {
	background-color:#E8B236;
    background-image: url("../images/main/prev2.png");
    transition: 00.3s;
}
.swiper-button-next:hover {
	background-color:#E8B236;
    background-image: url("../images/main/next2.png");
    transition: 00.3s;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;
}
.swiper-button-prev {
    margin-right: 15px;
	background-image: url("../images/main/prev.png");
    background-size: auto;
    transition: 00.3s;
}
.swiper-button-next {
	background-image: url("../images/main/next.png");
    background-size: auto;
    transition: 00.3s;
}
.swiper-buttons {
	display: flex;
	align-items: center;
    margin-left: 0px;
}
.swiper-button-prev,
.swiper-button-next {
    position: static !important;
	background-color: #ffffff;
    border: 1px solid #8DC8C1;
	width: 80px !important;
	height: 80px !important;
	border-radius: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.swiper-pagination{
    position: static !important;
    display: flex;
    align-items: center;
    margin-left: 538px;
}
.swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 15px;
    background-color: #75A39D !important;
    opacity: 1 !important;
}

.swiper-container2  .swiper-pagination-bullet-active{
    width: 15px !important;
    height: 15px !important;
    border: 2px solid #E8B236;
    background-color: #3D5C53 !important;
    opacity: 1!important;
}



/*--------------------------------------------------------Часто задаваемые вопросы------------------------------------------*/
.questions {
    background:
    url("../images/main/decor-reviews3.png"), 
    url("../images/main/decor-reviews4.png"), 
    url("../images/main/decor-reviews1.png"), 
    url("../images/main/decor-reviews2.png"),radial-gradient(24.11% 17.08% at 76.72% 106.55%, rgba(242, 192, 93, 0.34) 0%, rgba(242, 192, 93, 0) 100%), 
    radial-gradient(24.62% 26.73% at -5.81% 34.44%, rgba(242, 192, 93, 0.33) 0%, rgba(242, 192, 93, 0) 100%), #214E49;
    background-position:0% 185%, 15% 125%, left 90%, right 163%;
    background-repeat: no-repeat;
    position: relative;
}
.dot__questions1 {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 84px;
    top: 68px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.dot__questions2 {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 50%;
    top: 158px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.8;
}
.dot__questions3 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 100px;
    top: 211px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.2;
}
.dot__questions4 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 1453px;
    top: 264px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.2;
}
.dot__questions5 {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 42px;
    top: 495px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.4;
}
.dot__questions6 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 608px;
    top: 700px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.85;
}
.dot__questions7 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 1356px;
    top: 894px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.85;
}
.dot__questions8 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 420px;
    top: 1000px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.2;
}
.dot__questions9 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 626px;
    top: 1093px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.85;
}
.dot__questions10 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 1087.14px;
    top: 1117px;
    z-index: 2;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.2;
}
.dot__questions11 {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 1460px;
    top: 1080px;
    z-index: 2;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.4;
}
.dot__questions12 {
    display: none;
}
.dot__questions13 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 1490px;
    top: 1520px;
    z-index: 2;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.2;
}
.dot__questions14 {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 40px;
    top: 1220px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.3;
}
.dot__questions15 {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 100px;
    top: 1280px;
    background: radial-gradient(50% 50% at 50% 50%, #FFF98A 0%, rgba(255, 249, 138, 0) 100%);
    mix-blend-mode: normal;
    opacity: 0.4;
}

.questions-container {
    padding: 180px 0 76px;
    position: relative;
}
.spruce__questions{
    position: absolute;
    left: 28.5%;
    top: 70.8%;
    z-index: 3;
    max-width: 100%;
}
.fon-spruce__questions{
    position: absolute;
    z-index: 2;
    padding: 15px;
    border: 1px solid #3E8B84;
    border-radius: 500px;
    left: 27%;
    top: 77%;
    
}

.h2__questions {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
}
.descr__questions {
    max-width: 487px;
    margin: 20px auto 80px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #B5B4B4;
    text-align: center;
}

.ex {
}
.ex-2 {
}
.accordion{
    position: sticky;
}
.accordion__list {
}
.accordion:not(:first-child) {
    margin-top: 20px;
}
.accordion__control {
    padding: 23px 40px;
    border: none;
	width: 100%;
    background: radial-gradient(35.08% 73.16% at 80.81% 142.97%, rgba(242, 192, 93, 0.44) 0%, rgba(242, 192, 93, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(54.39% 63.32% at -5.38% -39.26%, rgba(242, 192, 93, 0.38) 0%, rgba(242, 192, 93, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(255, 255, 255, 0.05);
    box-shadow: inset 2px 1px 0px #457772;
    backdrop-filter: blur(70px);
    border-radius: 0px 0px 0px 20px;
}
.top-accordion__control{
    display: flex;
	align-items: center;
	justify-content: space-between;
}
.accordion__control::-webkit-details-marker {
	display: none;
}
.accordion__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.accordion__icon {
    position: relative;
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	background-color: #517461;
}
.accordion__icon::before {
	content: url("../images/main/galka3.png");
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50%;
	transform: translate(-50%, -50%);
}
.accordion__icon::after {
	content: url("../images/main/galka3.png");
	position: absolute;
	left: 50%;
	top: 50%;
	height: 50%;
	transform: translate(-50%, -50%);
}

.accordion__content {
    margin-top: 20px;
    display: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #B5B4B4;
    text-align: left;
    max-width: 1074px ;
    transition: 0.3s ;
}
.accordion[open] .accordion__icon {
    background-color: #E8B236;
    transition: 0.3s ;
}
.open .accordion__content {
	display: block;
    transition: 0.3s ;

}
.open .accordion__icon {
	transform: rotate(180deg);
    transition: 0.3s ;
    background-color: #E8B236;
}
.open .accordion__control {
    background: radial-gradient(35.08% 73.16% at 80.81% 142.97%, rgba(242, 192, 93, 0.44) 0%, rgba(242, 192, 93, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(54.39% 63.32% at -5.38% -39.26%, rgba(242, 192, 93, 0.38) 0%, rgba(242, 192, 93, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(255, 255, 255, 0.05);
    background-blend-mode: screen, screen, normal;
    box-shadow: inset 2px 1px 0px #457772;
    backdrop-filter: blur(70px);
    border-bottom: none;
    transition: 0.3s ;
}


.showmore__questions{
    display: block;
    padding: 20px 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: 1px solid #3E8B84;
    border-radius: 500px;
    background-color: #214E49;
    margin: 80px auto 0;
    transition: 00.3s;
}
.showmore__questions:hover{
    color: #FFFFFF;
    background-color: #E8B236;
    transition: 00.3s;
}

/*--------------------Отзывы---------------------*/
.reviews {
    margin-top: 213px;
    display: flex;
    position: relative;
    
}
.title__reviews {
}
.h2__reviews {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
}
.descr__reviews {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #B5B4B4;
    max-width: 284px;
    margin-top: 20px;
}

.swiper-container3 {
    margin: 0 0 0 539px;
    position: relative;
    padding: 10px;
    height: 100%;
    overflow-x: hidden;
}
.swiper-container3 .swiper-pagination{
margin: 0 0 0 230px;
}
.reviews::before{
    content: "";
    position: absolute;
    width: 1074px;
    height: 520px;
    top: -105px;
    left:  40%;
    z-index: 1;
    background: radial-gradient(35.08% 73.16% at 80.81% 142.97%, rgba(242, 192, 93, 0.44) 0%, rgba(242, 192, 93, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(54.39% 63.32% at -5.38% -39.26%, rgba(242, 192, 93, 0.38) 0%, rgba(242, 192, 93, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(255, 255, 255, 0.05);
    background-blend-mode: screen, screen, normal;
    box-shadow: inset 2px 1px 0px #457772;
    backdrop-filter: blur(70px);
    border-radius: 50px 0px 0px 0px;
}
@media (max-width: 1536px){
    .reviews::before{
        width: 884px;
    }
}



.swiper-wrapper {
}
.reviews__block {
}
.title-swiper__reviews {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B5B4B4;
    display: flex;
    flex-wrap: wrap;
}
.descr-swiper__reviews {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    max-width: 488px;
    margin-top: 20px;
}
.swiper-buttons3 {
    display: flex;
    position: relative;
    z-index: 2;
}
 .pag3 {
    position: static ;
    display: flex;
    align-items: center;
    margin-left: 38px;
    z-index: 4;
}

.swiper-wrapper-control-reviews{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.swiper-wrapper-control-reviews .swiper-pagination-bullet-active {
    margin: 0px 183px;
    background: #3D5C53 !important;
}
.swiper-button-prev3:hover {
	background-color:#E8B236;
    transition: 00.3s;
}
.swiper-button-next3:hover {
	background-color:#E8B236;
    transition: 00.3s;
}
.swiper-button-prev3::after,
.swiper-button-next3::after {
	display: none;
}
.swiper-button-prev3 {
    margin-right: 15px;
	background-image: url("../images/main/prev2.png");
    background-size: auto;
    transition: 00.3s;
}
.swiper-button-next3 {
	background-image: url("../images/main/next2.png");
    background-size: auto;
    transition: 00.3s;
}
.swiper-button-prev3,
.swiper-button-next3 {
    border: 1px solid  #3E8B84;
    background-color: rgb(33, 79, 74, 0.1);
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}


.btn__about {
    position: relative;
    margin-left: -13px;
    margin-top: 84px;
    padding: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    max-width: 209px;
    border-radius: 110px;
    z-index: 3;
}
.about__btn {
    text-decoration: none;
    display: block;
    position: relative;
    padding: 49px 0 87px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #414141;
    width: 180px;
    height: 180px;
    background-color: #FFFFFF;
    border-radius: 100px;
    transition: 0.3s;
}
.about__btn:hover {
    background-color: #E8B236;
    color: #FFFFFF;
    transition: 0.3s;
}
.about__btn:hover::after{
    content: url("../images/main/arrow.png");
    transition: 0.3s;
}
.about__btn::after{
    content: url("../images/main/arrow2.png");
    position: absolute;
    top: 113px;
    left: 81px;
}
.questions__btn {
    position: absolute;
    top: 87%;
    left: 18%;
}




/*--------------------------------------------------------Слайдер------------------------------------------*/
.services {
    background: rgb(255,255,255);

}
.services-container {
    padding: 231px 0 144px 0;
}
.title__services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.h2__services {
}
.title__services p {
    max-width: 487px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #5B5B5B;
}
.swiper-container {
    margin-top: 60px;
    overflow: hidden;
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper__block p{
    margin-top: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    color: #414141;
}
.swiper-wrapper-control {
    position: absolute;
    margin-top: 125px;
    display: flex;
    align-items: center !important;
}
.btn__services {
    min-width: 245px;
    display: block;
    max-width: 245px;
    padding: 20px 30px;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #8DC8C1;
    border-radius: 50px;
    color: #414141;
    transition: 00.3s;
}
.btn__services:hover {
    background-color: #E8B236;
    color: #ffffff;
    transition: 00.3s;
}

.swiper-button-prev:hover {
	background-color:#E8B236;
    background-image: url("../images/main/prev2.png");
    transition: 00.3s;
}
.swiper-button-next:hover {
	background-color:#E8B236;
    background-image: url("../images/main/next2.png");
    transition: 00.3s;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;
}
.swiper-button-prev {
    margin-right: 15px;
	background-image: url("../images/main/prev.png");
    background-size: auto;
    transition: 00.3s;
}
.swiper-button-next {
	background-image: url("../images/main/next.png");
    background-size: auto;
    transition: 00.3s;
}
.swiper-buttons {
	display: flex;
	align-items: center;
}
.swiper-button-prev,
.swiper-button-next {
    position: static !important;
	background-color: #ffffff;
    border: 1px solid #8DC8C1;
	width: 80px !important;
	height: 80px !important;
	border-radius: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.swiper-container .swiper-pagination{
    position: static !important;
    display: flex;
    align-items: center;
    margin: -20px 0 0 944px;
}
.swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    margin: 0 15px;
    background-color: #75A39D !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    width: 15px !important;
    height: 15px !important;
    border: 2px solid #E8B236;
    background-color: #F3F3F3 !important;
    opacity: 1!important;
}
/*--------------------------------------------------------Footer------------------------------------------*/
.footer {
    
    background-color: #F3F3F3;
}
.footer-container {
    padding: 194px 0 90px 0;
}
.footer__header {}
.form__footer {
    display: flex;
    justify-content: space-between;
}
.form__footer fieldset{
}
.form__footer legend {
    max-width: 620px;
    font-weight: 600;
    font-size: 50px;
    line-height: 120%;
}
.form__input {
    width: 488px;
}
.form__input:not(:first-child) {
    margin-top: 20px;
}
.form__input input{
    outline: none;
    padding: 20px 30px;
    width: 100%;
    border: 1px solid #8DC8C1;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #ACACAC;
    background-color: #F3F3F3;
}
.btn__form{
    margin-top: 14px;
    margin-left: -14px;
    padding: 14px;
    background-color: #F3F3F3;
    max-width: 209px;
    border-radius: 110px;
}
.form__btn {
    position: relative;
    padding: 49px 0 87px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    width: 180px;
    height: 180px;
    background-color: #E8B236;
    border-radius: 90px;
    transition: 0.3s;
}
.form__btn::after{
    content: url("../images/main/arrow.png");
    position: absolute;
    top: 113px;
    left: 81px;
}
.form__btn:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 0.3s;
    border: 1px solid #8DC8C1;
}
.form__btn:hover::after{
    content: url("../images/main/arrow2.png");
    transition: 0.3s;
}

.agreement{
    margin-top: 20px;
    position: relative;
    display: flex;
}
.agreement-checkbox {
    border: 1px solid #8DC8C1;
    border-radius: 50px;
    opacity: 0;
    outline: none;
}
.agreement-checkbox + .agreement-title::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #8DC8C1;
    left: 0;
    top: calc(50% - 20px);
    border-radius: 50px;
  }
.agreement-checkbox:checked + .agreement-title::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #E8B236;
    border-radius: 50px;
    left: 6px;
    top: calc(50% - 14px);
  }
.agreement-title {
    margin-left: 15px;
    max-width: 453px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #5B5B5B;
}

.footer__bottom {
    margin-top: -40px;
    padding: 40px 0 0 0 ;
    border-top: 1px solid #8DC8C1;
}
.first-footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.second-footer__bottom p {
    max-width: 280px;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: rgb(91, 91, 91, 0.8);
}
.second-footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: -104px;
}
.nav__footer {}
.nav__list-footer {}
.nav__item-footer:not(:first-child) {
    margin-top: 10px;
}
.nav__link-footer {
    font-weight: 600;
    font-size: 16px;
    line-height: 33px;
    color: #414141;
}
.phone__footer{
    display: flex;
    align-items: center;
}
.icon__footer {
    border-radius: 12px;
    width: 25px;
    height: 25px;
    background: rgb(141, 200, 192, 0.3);

}
.icon__footer:nth-child(2) {
    margin: 0 15px 0 5px;
}
.footer__phone {
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #414141;
}
.order__call{
    margin-top: 12px;
    display: block;
    padding: 13px 78.5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    background-color: #F3F3F3;
    border: 1px solid #8DC8C1;
    border-radius: 50px;
    color: #414141;
    transition: 00.3s;
}
.order__call:hover{
    background-color: #E8B236;
    color: #ffffff;
    transition: 00.3s;
}
.mail__footer {
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    color: #414141;
}
.adres__footer {
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #414141;
}
.time {
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgb(91, 91, 91, 0.8);
}