@media (max-width: 769px){
    .container {
        max-width: 708px;
        margin: 0 auto;
        padding: 0px 15px;
    }
    .header__container {
        padding: 34px 0px 46px 0px !important;
    }
    .burger{
        margin: 0 0 0 292px;
        display: block;
    }
    .header{
    }
    
    .menu{
        position: fixed;
        left: -10px;
        top: 80px;
        background-color: #ffffff;
        z-index: 100;
        padding: 0px 20px 150px 15px;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: transform 0.6s ease-in-out ;
        overflow: auto;
    }
    .menu__list{
        padding: 50px 0 0 0;
        border-top: 1px solid rgb(62, 139, 132, 0.3);
        flex-direction: column;
    }
    .menu__list > li{
        margin-bottom: 25px;
    }
    .menu--visible {
        transform: none;
        transition: transform 0.6s ease-in-out
      }
    .sub-menu__list {
        border: 1px solid #F1F1F1;
        position: relative;
        left: -15px;
        top: 0;
        width: 768px;
        background-color: #F1F1F1;
        transition: transform 0.6s ease-in-out;
        padding: 20px 20px 50px 15px;
    }
    .sub-menu__list > li {
        margin: 15px 0 15px 15px;
        background-color: #F1F1F1;
        
    }
    .sub-menu__list a{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #414141;
    }
    .sub-sub-menu__list{
        position: fixed;
        border: 1px solid rgb(62, 139, 132, 0.3);
        left: 0%;
        top: 0;
        background-color: #ffffff;
        z-index: 101;
        padding: 50px 20px 150px 15px;
        width: 768px;
        height: 100%;
        transform: translateX(-100%);
        transition: transform 0.6s ease-in-out ;
    }
    .sub-sub-menu__list--visible {
        transform: none;
        transition: transform 0.6s ease-in-out
      }
      .sub-sub-menu__list > li {
        margin: 15px 0 15px 15px;
      }
      body.touch .sub-sub-menu__list.open{
        display: block;
        transition: transform 0.6s ease-in-out;
        left: 100%;
        top: 19%;
    }
.navigation-sub-sub-menu__list{
        display: block;
   }


}
/*--------------------------------------------------------Портфолио------------------------------------------*/
@media (max-width: 769px){
    .portfolio-container {
        padding: 30px 0 120px 0;
    }
    .h2__portfolio{
        font-size: 40px;
        line-height: 48px;
    }
    .descr__portfolio {
        margin-top: 15px;
        max-width: 707px;
    }
    .content__portfolio {
        margin-top: 50px;
    }
    .items__portfolio {
        margin-bottom: 40px;
       
    }
    .picture__portfolio {
        width: 708px;
        height: 412px;
    }
}
/*----------------------Footer----------------*/
@media (max-width: 769px){
    .footer {
    }
    .footer-container {
        padding: 120px 0 90px 0;
    }
    .footer__header {}
    .form__footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .form__footer fieldset{
        margin-top: 50px;
    }
    .form__footer legend {
        max-width: 708px;
        font-size: 40px;
        line-height: 48px;
    }
    .form__input {
        width: 708px ;
    }
    .form__input:not(:first-child) {
        margin-top: 20px;
    }
    .form__input input{
        outline: none;
        padding: 20px 30px;
        width: 100%;
    }
    .btn__form{
        margin-left: 265px;
    }
    .agreement-title {
        max-width: 673px;
    }
    .footer__bottom {
    }
    .first-footer__bottom {}
    .second-footer__bottom p {
        max-width: 213px;
    }
    .second-footer__bottom {
        margin-top: -104px;
    }
    .nav__footer {
        margin-top: 13px;
    }
    .nav__list-footer {}
    .nav__item-footer:not(:first-child) {
    }
    .nav__link-footer {
        line-height: 33px;
    }
    .third-footer__bottom{
        margin-top: 5px;
    }
    .phone__footer{
        display: flex;
        align-items: center;
    }
    .icon__footer {
    }
    .icon__footer:nth-child(2) {
        margin: 0 15px 0 5px;
    }
    .footer__phone {
        font-size: 24px ;
    }
    .order__call{
        max-width: 272px;
        margin-top: 15px;
        padding: 13px 63.5px;
    }
    .mail__footer {
        line-height: 33px;
    }
    .adres__footer {
        line-height: 33px;
    }
    .time {
    }
}